#container{
    background: #aaaaaa;
    height: 600px;
    margin: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: baseline;
}


.item{
    background: #ece1e1;
    border: 1px solid #000;
    margin: 10px;
    width: 100px;
    height: 100px;
    flex-grow:1;  /* Define a proporção de espaço ocupado por um item*/
    flex-shrink: ; /* Define a capacidade de redução de tamanho do item*/
    flex-basis: ; /*Indica o tamanho inicial do flex(item) antes da distribuição do espaço restante*/

}


    .item1{
    /* flex-grow:1 ; */
    /* flex-shrink:2; */
    flex-basis: ;
  }

    .item2{
    /* flex-grow:2; */
    /* flex-shrink: 2; */
  }
  
     .item3{
    /* flex-grow:2; */
    /* flex-shrink: 2; */
  }
  
    .item4{
    /* flex-grow:4 ; */
    /* flex-shrink: 4; */
  }

/* 
.ordem1{
    order: 1;
}

.ordem2{
    order: 2;
}
.ordem3{
    order: 3;
}

.ordem4{
    order: 4;
}

  */

