#container{
    background: #aaaaaa;
    height: 400px;
    margin: 10px;
    display: flex;
    justify-content:space-between;
  
}


.item{
    background: #ece1e1;
    border: 1px solid #000;
    margin: 10px;
    width: 100px;
    height: 100px;


}